*
!fonts/
!css/
!css/aiz-core.css
!css/mayush-components.css
!css/mayush-design-tokens.css
!css/custom-style.css
!js/
!js/aiz-core.js
!js/banner-text-editor.js
!blog/
blog/*
!blog/css/
blog/css/*
!blog/css/blog-builder.css
!blog/js/
blog/js/*
!blog/js/blog-builder.js
!*.png
!*.svg
!img/
img/*
!img/mayush-bot-avatar.png
!img/office_furniture_4k*.webp
!img/cards/
img/cards/*
!img/cards/*.webp

